.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px 50px;
}
th {
  font-size: 25px;
  padding: 5px;
}

td {
  font-size: 16px;
  padding: 5px;
}
